alembic==1.18.4
backports-zstd==1.3.0
blinker==1.9.0
brotli==1.2.0
click==8.3.1
dotenv==0.9.9
flask==3.1.3
flask-compress==1.23
flask-executor==1.0.0
flask-migrate==4.1.0
flask-simple-captcha==5.5.5
flask-sqlalchemy==3.1.1
greenlet==3.3.2
gunicorn==25.1.0
itsdangerous==2.2.0
jinja2==3.1.6
mako==1.3.10
markupsafe==3.0.3
packaging==26.0
pillow==12.1.1
pyjwt==2.11.0
python-dotenv==1.2.2
sqlalchemy==2.0.48
typing-extensions==4.15.0
werkzeug==3.1.6
