{% extends 'base.html' %}
{% block title%}drawtogether{% endblock %}

{% block body %}
<p class="title">DrawTogether</p>
<div class="center">

{% for canvas in canvases %}
<p>
<a href="{{ url_for( 'output_html', id=canvas.id ) }}">
<img src="{{ url_for( 'get_img', id=canvas.id ) }}" width="50%" title="{{canvas.name}}"/>
</a>
{{canvas.width}}x{{canvas.height}}
{% if canvas.history %}
{{canvas.name}}<a href=" {{ url_for( 'get_history' , id=canvas.id ) }} ">history</a>
{% else %}
 {{canvas.name}}
{% endif %}
</p>
{% endfor %}

<h1>How to play</h1>
<p>
    click picture above to start draw
</p>

<p>
    There are canvas for you to draw, and everyone can draw. Click on the place you want to draw then choose color.<br>
    you are not supposed to draw a whole thing, even some pixel dot will be fine.<br>
    you can check the history if it exist
</p>

<iframe width="100%" height="400" style="border-width: 0; border-radius: 10px; " src="http://iwcvsbd7cylwvjh4dkdrczg24jy6y6hsuogptv6ebncespsyulua.b32.i2p/post/drawtogether/comment_here"></iframe>

<p>
    <a href="http://iurzzv4pam4irvfomtkcgnkvij242cuuet7xfpftut573bexkrvq.b32.i2p/jestar/pydrawtogether">source code here</a>
</p>

</div>

{% endblock %}