{% extends 'base.html' %}
{% block title%}drawtogether{% endblock %}

{% block body %}
<p class="title">DrawTogether</p>
<div class="center">

{% for canvas in canvases %}
<p>
<a href="{{ url_for( 'output_html', id=canvas.id ) }}">
<img src="{{ url_for( 'get_img', id=canvas.id ) }}" width="50%" title="{{canvas.name}}"/>
</a>
{{canvas.width}}x{{canvas.height}}
{% if canvas.history %}
history:<a href=" {{ url_for( 'get_history' , id=canvas.id ) }} "> {{canvas.name}} </a>
{% endif %}
</p>
{% endfor %}

<h1>How to play</h1>
<p>
    click picture above to start draw
</p>

<p>there is canvas for you to draw anything you want,click on the place you want to draw then choose color<br>
    you can check the history if it exist
</p>

</div>

{% endblock %}